        .container>*{
            border: 3px solid gold;
            background-color: antiquewhite;
            padding: 30px;
        }

    header{
        grid-area: header;
    }
    nav{
        grid-area: navbar;
    }
    main{
        grid-area: main;
    }
    #aside{
        grid-area: sidebar;
    }
    #advertise{
        grid-area: advertise;
    }
    footer{
        grid-area: footer;
    }
    .container{
        display: grid;
        gap: 20px;
        grid-template-rows: 
        "header header header header"
        "navbar main   main   sidebar"
        "navber main   main   advertise" 
        "footer footer footer footer":
    }

